.skills--section {
  display: grid;
  padding: 40px 55px;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid royalblue;
  margin-bottom: 10px;
}

.skills--section--container {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid rgb(65, 225, 116);
  padding: 20px;
}

.skills--section--card {
  display: flex;
  padding: 30px;
  align-items: flex-start;
  gap: 10px;
  background: var(--bg-shade);
}
.skills--section--card:hover {
  border-bottom: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
  color: var(--primary);
}

.skills--section--img {
  display: flex;
  padding: 13px;
  justify-content: center;
  align-items: center;
  gap: 13px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}
.skills--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skills--section--title {
  color: var(--heading-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
  margin-top: 10px;
}
