.skills-section {
  display: flex;
  justify-content: center;
  padding: 149.333px 85.333px;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  background-color: var(----bg-shade);
}

.skill-section-heading {
  color: var(--heading-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 77px;
}

.skill-section-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: flex-start;
  gap: 42px;
}
