.skills--section {
  display: grid;
  padding: 30px 45px;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--white);
}

.skills--section--container {
  display: grid;
  justify-content: center;
  align-items: start;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}
.skills--section--card {
  display: flex;
  padding: 30px;
  align-items: flex-start;
  gap: 20px;
  background: var(--bg-shade);
}
.skills--section--card:hover {
  border-bottom: 4px solid var(--primary);
  border-right: 4px solid var(--primary);
  color: var(--primary);
}
.skills--section--card:hover .skills-section-title {
  color: var(--darkblue);
}
.skills--section--img {
  display: flex;
  padding: 13.3px;
  justify-content: center;
  align-items: center;
  gap: 13.3px;
  border-radius: 10.6px;
  background: #fff;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}
.skills--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.skills--section--title {
  color: var(--heading-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
}
