.about--section--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 10px 85px;
  background-color: var(--white);
  flex-direction: column;
}

.about--section--img > img {
  width: 100%;
  height: 100%;
}

.about--section--heading {
  padding: 10px;
  flex-direction: column;
}
