.contact--section {
  display: flex;
  padding: 95px 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  background-color: var(--white);
  width: 100%;
  margin: 20px 10px 0px 10px; /* top, right, bottom, left */
}

.contact--form--section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
  width: 40%;
  row-gap: 12px;
}

.form--container {
  display: grid;
  row-gap: 5px;
  margin: 5px;
  padding: 20px;
  background-color: var(--bg-shade);
  border-radius: 10.6px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}

.contact--label {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.contact--input {
  display: grid;
  font-family: "Roboto";
  padding: 6px;
  align-items: center;
}
