.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  background-color: var(--white);
  position: fixed;
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  top: 0px;
  left: 0px;
  right: 0px;
}

.nav_menu > ul {
  display: flex;
  list-style: none;
  align-items: flex-start;
  gap: 35px;
  text-decoration: none;
}

.navbar_menu > ul > li > a {
  text-decoration: none;
}

.navbar-content {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}
