:root {
  --primary: #f06413;
  --heading-color: #282938;
  --bg-shade: #ccdde4;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #e8e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* heading #1 */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

/* heading #2 */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

/* heading #3 */
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* paragraphs */
/* Body 1 */
.text-lrg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

/* Body 2 */
.text-med {
  color: var(--darkblack);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Body 3 */
.text-sm {
  color: var(--darkblack);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* each section title, skills, projects, about  */
.section--title {
  color: var(--primary);
  font-size: 25px;
  text-align: center;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  margin-top: 10px;
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}
@media (max-width: 768px) {
  .projects--section--cards {
    grid-template-columns: 1fr; /* Single column on smaller screens */
  }
}
@media (max-width: 768px) {
  .projects--section--cards {
    grid-template-columns: 1fr; /* Single column on small screens */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .projects--section--cards {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}

@media (min-width: 1025px) {
  .projects--section--cards {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on larger screens */
  }
}
