:root {
}

* {
  background-color: white;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
  margin: 0;
  /* border-radius: 10px solid red;
  display: grid; */
}

.hello {
  color: rgb(0, 21, 255);
}
