.cloudprojectcard--section {
  justify-content: center;
  align-items: flex-start;
}

.cloudprojectcard--container {
  width: 100%;
  max-width: 300px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
}
