.cloudprojectcard--section--container {
  background-color: var(--bg-shade);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3 ease;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 20px;
  align-items: center;
}

.cloudprojectcard--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
}
.cloudprojectcard--section--container:hover {
  transition: translateY(-15px);
}
.cloudprojectcard--section--image {
  background-color: white;
  border-radius: 5px;
  width: 35%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.cloudprojectcard--section--title,
h5 {
  gap: 10px;
  margin: 1px;
  color: var(--darkblue);
}

.cloudprojectcard--section--image,
.car--img {
  max-width: 100%;
  border-radius: 8px;
  height: auto;
  justify-content: center;
}

.cloudprojectcard--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  gap: 10px;
}

.cloudprojectcard--section--container:hover {
  border-bottom: 2px solid var(--orange);
  border-right: 2px solid var(--orange);
  color: var(--orange);
  transform: translateY(-5px); /* Slight lift on hover */
}

.cloudprojectcard--section--container:hover .cloudprojectcard--section--title {
  transition: translateY(-5px);
  color: var(--orange);
  transition: color 0.3s ease, transform 0.3s ease; /* change color slowly */
}
